*.out
coding
.DS_Store
.vscode
testing
build
files/*
!files/Readme.md

# Cmake ignoring 
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
